# Puerto en el que corre el servidor
PORT=8080

# Entorno de ejecución (development | production)
NODE_ENV=development

# Cadena de conexión a MongoDB (se usará en próximas entregas)
MONGO_URL=mongodb://localhost:27017/plataforma-eventos

# Secreto para firma de JWT (se usará en próximas entregas)
JWT_SECRET=cambiar_este_valor_por_un_secreto_seguro
